body { 
    background: #f2f2f2;
    font-family: Arial;

}

div { 
    margin: 20px;    
}

.btn  { 
    background: #32021f;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    margin: 0 10px;
}



.btn:hover { 
    opacity: .8;
}




.small { 
    font-size: 14px;
    padding: 10px 15px;
}

.medium { 
    font-size: 16px;
    padding: 15px;
}

.big { 
    font-size: 18px;
    padding: 20px 25px;    
}

.extra-big { 
    font-size: 20px;
    padding: 25px 30px;
}





.azul { 
    background: blue;
}

.verde { 
    background: green;
}

.naranja { 
    background: orange;
}


/* Efectos */
.border-radius { 
    border-radius: 100px;
}