* { 
    padding: 0;
    margin: 0;
}

.cajaPadre { 
    background: #2e294a;
    width: 700px;
    overflow: hidden;
}

.caja { 
    width: 200px;
    color: #fff;
    font-size: 38px;
    height: 200px;   
    background: #0e6ba8;
    margin: 30px;
    
}

body { 
    background: #f2f2f2;
    font-family: Arial;    
}

.uno { 
    float: left;
}

.dos { 
    float: left;
}
.articulo { 
    background: #ccc;
    width: 800px;
}

.articulo img { 
    float: left;
}

/* .clear { 
    clear: both;
} */